extends page.pug
block content
    div(id="content" class="p-3")
        h3 NGM Mail Router
        ul
            li(class="p-1")
                a(href="/log/delivery") Email Delivery
            li(class="p-1")
                a(href="/config/relaygrp") Relays
            li(class="p-1")
                a(href="/config/routing") Routing
            li(class="p-1")
                a(href="/users") Users
            li(class="p-1")
                a(href="/profile") Profile
            li(class="p-1")
                a(href="/logout") Logout
