extends ../page.pug
block content
  .notice
    p.notice-code Error #{statusCode}
    h1 Something went wrong
    p= message
    a.btn.btn-accent(href='/')
      +icon('arrow')
      span Return home
