extends ../page.pug
block content
  .notice
    p.notice-code Coming soon
    h1 Not implemented
    p This section isn’t available yet.
    a.btn.btn-ghost(href='/')
      +icon('arrow')
      span Return home
