extends ../page.pug
block content
  +pageHeader('Delete relay group')
  .card.form-card
    .card-body
      p Delete this relay group? This cannot be undone.
      form#frm(method='POST')
        .form-field
          label(for='name') Name
          input#name.form-control(type='text' name='name' value=`${data.name}` disabled='')
        .form-field
          label(for='description') Description
          input#description.form-control(type='text' name='description' value=`${data.description}` disabled='')
        .form-actions
          button#btn_submit.btn.btn-danger(type='submit')
            +icon('trash')
            span Delete
          a.btn.btn-ghost(href='/config/relaygrp') Cancel
