<%- include('header') %>

    <div id="content" class="p-3">

        <h3>NGM Mail Router</h3>

        <ul>

            <li class="p-1"><a href="/logs">Logs</a></li>
            <li class="p-1"><a href="/config">Config</a></li>
            <li class="p-1"><a href="/rbac">RBAC</a></li>
            <li class="p-1"><a href="/profile">Profile</a></li>
            <li class="p-1"><a href="/logout">Logout</a></li>

        </ul>

    </div>

</body>
</html>
