<%- include('header') %>

    <div id="content" class="p-3">

        <h3>Delivery</h3>
        <div id="grid" style="height: 800px;"></div>

    </div>

<script type="text/javascript" src="/js/log-delivery.js">
</script>

</body>
</html>
