extends ../page.pug
block content
  +pageHeader('Delete user')
  if error
    .alert.alert-danger= error
  .card.form-card
    .card-body
      p Delete this user? They will no longer be able to sign in.
      form#frm(method='POST')
        .form-field
          label(for='email') Email
          input#email.form-control(type='email' value=`${data.email}` disabled='')
        .form-actions
          button#btn_submit.btn.btn-danger(type='submit')
            +icon('trash')
            span Delete
          a.btn.btn-ghost(href='/users') Cancel
