extends ../page.pug
block content
    .row
    .table-title.col-sm-12.col-md-12.col-lg-12.col-xl-11(style='margin: 20px')
        h3(style='display: inline;')
        b=`${action} User`
    if error
        .alert.alert-danger(style='margin: 0 20px')= error
    form#frm(method='POST')
        .row
            .col-1
            .card.col-sm-6.col-md-6.col-lg-6.col-xl-5.m-4
                .cardbody
                    .card-title.m-3
                        h4 User:
                    .form-group.m-3
                        label Email:
                        input.form-control(type='email' name='email' value=`${data.email}` required='')
                    .form-group.m-3
                        label Password:
                        if action === 'Update'
                            input.form-control(type='password' name='pass' placeholder='Leave blank to keep current')
                        else
                            input.form-control(type='password' name='pass' placeholder='8–20 characters' required='')
                    .m-3
                        button#btn_submit.btn.btn-success(type='submit')=action
                // cardbody
            // card
