DB_DRIVER="mysql"
DB_HOST="127.0.0.1"
DB_NAME="mailgw"
DB_USER="root"
DB_PASS="P@ssw0rd"

AUTH_DB_DRIVER="mysql2"
AUTH_DB_HOST="127.0.0.1"
AUTH_DB_PORT="3306"
AUTH_DB_USER="root"
AUTH_DB_PASS="P@ssw0rd"
AUTH_DB_NAME="mailgw"

# NODE_ENV="development"
NODE_ENV="production"

SIGN_COOKIE = "fsdgfsdgerterger"
PORT=4000

TEMPLATE_ENGINE="pug"
TEMPLATE_DIR="./templates/pug"

### DevOps
S3_BUCKET="ngm-dev-s3"
